
/*************************************
This css file includes several different formatting examples
GENERAL
**************************************/
a {
 text-decoration: none;
  color: #0d50cd;
 }

:visited {
    text-decoration: none;
    color: darkgray;
}
 body {
   font-family: 'Open Sans', sans-serif;
 }

 h3 {
     margin: 0 0 1em 0;
 }


/*************************************
HEADING
**************************************/

.center {
 text-align: center
}

 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: bold;
 line-height: 1.0;
 text-align: center;

   color:darkolivegreen;

 }


/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}

/*************************************
FOOTER
**************************************/
 .footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

/*************************************
PAGE:
**************************************/
.cat-photo {
    display: block;
    max-width: 250px;
    margin: 0 auto 30px;
    border-radius: 25px;
}
.my-photo {
    display: block;
    max-width 250px;
    margin: 0 auto 30 px;
    border-radius: 25px;
}

.catsDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.myDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*************************************
COLORS
**************************************/


 /* green header*/
  header {
   background: #6ab47b;
   border-color: #599a68;
 }



/* nav background on mobile devices*/
nav {
   background: #599a6b;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #32673f;
}
/* site body*/
body {
    background-color: lightgrey;
    color: #000;
    text-align: center;
    border-top-style: groove;
    border-bottom-style: groove;
}

